@media only screen and (max-width: 1150px) {

    /***** Photo Gallery *****/
    .photo-segment {
        margin-left: 10px;
        margin-right: 10px;
    }

    /***** References *****/
    .col.span-1-of-3.one-reference {
        width: 48.5%;
        margin-left: 10px;
    }

    .one-reference:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 860px) {

    /***** Our Pizza *****/
    .pizza-info .span-1-of-2 {
        width: 96%;
    }

    .pizza-info img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-pizza p {
        padding-top: 14px;
    }
}

@media only screen and (max-width: 765px) {

    /***** Our Pizza *****/
    .text-pizza p {
        padding-top: 4px;
    }
}

@media only screen and (max-width: 750px) {

    /***** Photo Gallery *****/
    .photo-segment .col {
        margin-left: 0;
    }

    .photo-segment li {
        width: 100%;
    }
}

@media only screen and (max-width: 685px) {

    /***** References *****/
    .col.span-1-of-3.one-reference {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .photo-name {
        float: right;
        margin-right: 25px;
    }
}

@media only screen and (max-width: 480px) {

    /***** Photo Gallery *****/
    .photo-segment li {
        margin-top: 10px;
    }
}